.fraction {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.2em 0.4ex;
    text-align: center;
}

.fraction>span {
    display: block;
}

.fraction span.fdn {
    border-top: thin solid black;
    padding-top: 0.15em;
}

.fraction span.fup {
    padding-bottom: 0.5rem;
}